# Environment
NODE_ENV = "development | test | production"

CRON_ENABLED=true

# Server
HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
PUBLIC_URL=<url>

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=supersecurepwd
DATABASE_SSL=true
DATABASE_DEBUG=false

# Admin
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
STRAPI_LOG_LEVEL=trace
JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified

# Azure Web App
STORAGE_ACCOUNT=
STORAGE_ACCOUNT_KEY=
STORAGE_CONTAINER_NAME=
STORAGE_URL=
STORAGE_CDN_URL=

# GitHub Integration
GITHUB_TOKEN=
GITHUB_OWNER=play14team
GITHUB_REPO=play14-ui
GITHUB_WORKFLOW_ID=52506304
GITHUB_BRANCH=main

# Mapbox
STRAPI_ADMIN_MAPBOX_ACCESS_TOKEN=pk.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxx
